*{
    margin: 0;
    padding: 0;
}

:root{
    --font-color: white
    --header-font-size: 1rem

}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    color: white;
    background-color: black;
    font-weight: bold;
}

header .header-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    width: 75%;
    gap: 1rem;
    padding: 1rem;
}

li{
    display: inline-block;
}
li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
}

li a:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
    cursor: pointer;
}